@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin+Sketch:wght@400;700&family=Carattere&family=Caveat:wght@500;700&family=Dancing+Script&family=Great+Vibes&family=Josefin+Sans:wght@600&family=Luckiest+Guy&family=Micro+5&family=Oswald:wght@300&family=Quicksand:wght@600;700&family=Roboto&family=Roboto+Mono:wght@500&family=Shadows+Into+Light&display=swap');

h1{
    margin: 0;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;

}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-height: 80vh;
    padding-top: 20px;
    gap: 1em;
}
.computer-board-container {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.game-started .placement-instructions,
.game-started #ship-placement-controls{
  display: none;
}

.game-started{
    gap: 3em;
}

.game-started .game-boards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-started .game-boards .computer-board-container{
    display: flex;
}

.game-boards {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}

.board-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
}

.board-title {
    font-size: 3em;
    color: #f0f0f0;
    font-weight: bold;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.computer-board-container .board-title{
    display: none;
}

.game-started .computer-board-container .board-title{
    display: block;
}

.board {
    display: grid;
    grid-gap: 4px; 
    padding: 10px; 
    background-color: #0a2a42; 
    border-radius: 10px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.cell {
    width: 35px; /* Adjust size based on your preference */
    height: 35px;
    background-color: #1b3b5f; /* Darker cell color */
    border-radius: 5px; /* Rounded cell corners */
    transition: background-color 0.3s; 
}

.cell:hover {
    background-color: #325a7f;
    cursor: pointer;
}

.cell.ship {
    background-color: #26738c;
}

.cell.hit {
    background-color: #ff3e3e; 
    box-shadow: inset 0 0 10px #ff0000;
}

.cell.miss {
    background-color:#4b5466;
}

.button-container {
    display: flex;
    gap: 15px;
}

#horizontal-btn, #vertical-btn {
    padding: 12px 25px;
    font-size: 18px; 
    cursor: pointer;
    border: none;
    border-radius: 8px; 
    background-color: #FF9800;
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s; 
}

#vertical-btn:hover, #vertical-btn.selected, #start-game-btn:hover, #horizontal-btn:hover, #horizontal-btn.selected  {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); 
    background-color: #51ab55;
}


#start-game-btn {
    padding: 15px 30px;
    font-size: 20px; 
    cursor: pointer;
    border: none;
    border-radius: 10px; 
    background-color: #4CAF50; 
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s; 
}


.placement-instructions {
    text-align: center;
    font-size: 2.5em;
    color: #24ea3b;
    font-weight: 500;
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.no-click {
    pointer-events: none;
    opacity: 0.6; 
}